body {
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
}

.home-title {
    font-weight: 900;
    font-size: 30px;
    color: rgb(1, 184, 90);
    margin-bottom: 10px;
}

.home-sub {
    font-weight: 300;
    font-size: 20px;
}

.home-center {
    padding: 10vh 0 0 0;
    margin: 0 auto;
    text-align: center;
    width: 40vw;
}

.stat-center, .court-center, .login-center, .history-center {
    width: 30vw;
    min-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
}

.selection  {
    width: 320px;
    margin: 0 auto;
    padding-top: 10px;
}

.section {
    margin: 20px 0 20px 0;
}

.court-name {
    font-weight: 900;
    font-size: 30px;
    margin: 40px 0 0 0;
    color: rgb(1, 184, 90);
}

.header {
    font-weight: 300;
    font-size: 20px;
    margin: 20px 0 15px 0;
}

.stat-box {
    margin: 20px 0 0 0;
}
.stat {
    font-size: 20px;
    font-weight: 300;
}

a.greenlink:link, a.greenlink:visited {
    color: rgb(1, 184, 90);
}
a:link {
    color: #717171;
    text-decoration: none;
    padding-right: 5px;
    font-size: 17px;
    font-weight: 300;
}

a:visited {
    color: #717171;
    text-decoration: none;
}

a:hover {
    color: #4cb8ca;
    text-decoration: none;
    transition: 300ms;
}

.top-margin {
    margin: 15px 0 0 0 !important;
}

.top-padding {
    padding: 15px 0 0 0 !important;
}

.bottom-padding {
    padding-bottom: 40px;
}

.form-control {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.btn:focus {
    outline: none;
}

.green {
    color: rgb(1, 184, 90);
    font-weight: 900;
}
.success {
    color: rgb(24, 196, 191);
}

.error {
    color: rgb(230, 124, 14);
}
