{% include "base/head.html" %}

<div class="history">

    <div class="history-center">

        {% include "base/nav.html" %}

        <script>
            $('.historylink').addClass('greenlink');
        </script>

        <div class="court-name">{{court.name}} Ticket History</div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <a{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</a>
                <br /> {% endfor %}
        </div>
        <br /> {% endif %} {% if logged_in %}

        <div class="section">
            <a href="{% url 'base:history' court.id prev_page %}">
                <button type="button" class="btn btn-default">Previous</button>
            </a>
            <a href="{% url 'base:history' court.id next_page %}">
                <button type="button" class="btn btn-default">Next</button>
            </a>
        </div>

        {% if history_data %} {% for ticket in history_data %}
        <pre class="ticket margin-top">{{ticket}}</pre>
        {% endfor %} {% else %}
        <pre class="margin-top">No tickets to show.</pre>
        {% endif %} {% else %}
        <pre class="margin-top">You must be logged in to view History.</pre>
        {% endif %}

    </div>

</div>
