{% include "base/head.html" %}

{% if court_list %}

<div class="home-center">
    <div class="home-title">JUST COUNT</div>
    <div class="home-sub">
        A Simple Ticketing System
        <br> For the U.S. Department of Justice
        <br>
    </div>
    <button type="button" class="find-court-btn btn btn-default top-margin">Find Your Court</button>
    <div class="court-list top-margin hidden">
        {% for court in court_list %}
        <div class="court-list-item">
            <a href="{% url 'base:court' court.id %}">{{ court.name }}</a>
        </div>
        {% endfor %}
    </div>

{% else %}

    <p>No courts are available.</p>

{% endif %}
