{% include "base/head.html" %}

{% if court_list %}

<div class="home-center">
    <div class="home-title animated slideInDown">Just Count</div>
    <div class="home-sub animated slideInUp">
        A Simple Service Tracker
        <br> For the U.S. Department of Justice
        <br>
    </div>

    <div class="selection animated slideInUp">
        <select name="court_id" class="form-control court-list" onchange="location = this.options[this.selectedIndex].value;">
            <option disabled selected>Select Court</option>

            {% for court in court_list %}
                <option value="{{court.id}}" value="{% url 'base:court' court.id %}">{{ court.name }}</option>
            {% endfor %}
        </select>
    </div>


{% else %}

    <p>No courts are available.</p>

{% endif %}
