
{% include "base/head.html" %}


<div class="home">

  {% if court_list %}

  <div class="home-center">
    <div class="home-title">Just Count</div>
    <div class="home-sub">Department of Justice Ticketing System</div>

    <div class="dropdown top-margin">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select court
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for court in court_list %}
            <li><a href="{% url 'base:court' court.id %}">{{ court.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% else %}

    <p>No courts are available.</p>

  {% endif %}


</div>
