{% include "base/head.html" %}

<div class="stat-center">

    {% include "base/nav.html" %}

    <script>
        $('.statlink').addClass('greenlink');
    </script>

    <div class="court-name">{{court.name}} Statistics</div>


    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <a{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</a>
            <br /> {% endfor %}
    </div>
    {% endif %}

    <div class="stat-box">
        <div class="stat">
            <span class="green">{{avg_time}}</span>
             minutes per ticket
        </div>

        <div class="stat">
            <span class="green">{{total_served_day}}</span>
            tickets served in the last 24 hours
        </div>

        <div class="stat">
            <span class="green">{{total_served_month}}</span>
            tickets served last month
        </div>

        <div class="stat">
            <span class="green">{{total_served_year}}</span>
            tickets served last year
        </div>

        <div class="stat">
            <span class="green">{{total_served}}</span>
            tickets served all time
        </div>
    </div>


</div>
